.header__logo {
  max-width: 130px;
  width: 100%;
}

@media screen and (max-width: 920px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 560px) {
  .header__logo {
    max-width: 104px;
  }
}