.profile__input {
  margin: 0 0 0 30px;
  max-width: 340px;
  grid-template-areas: "input";
}

@media screen and (max-width: 720px) {
  .profile__input {
    margin: 26px 0 36px;
    max-width: 282px;
    text-align: center;
  }
}