@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__input/profile__input.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

.elements {
  max-width: 880px;
  margin: 51px auto 0;
  display: grid;
  grid-template-columns: repeat(3, fit-content(282px));
  grid-template-rows: repeat(2, fit-content(361px));
  gap: 17px 20px;
  justify-items: center;
}

@media screen and (max-width: 920px) {
  .elements {
    margin: 40px auto 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .elements {
    margin: 40px auto 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    padding-left: 27px;
    padding-right: 27px;
  }
}

.elements__item {
  max-width: 282px;
  max-height: 361px;
}

.elements__image {
  display: block;
  max-width: 282px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.elements__group {
  padding: 25px 15px 21px 31px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  align-items: center;
}

.elements__title {
  max-width: 200px;
  margin: 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__like {
  padding: 0;
  border: 0;
  background: url(../images/like.svg);
  width: 22px;
  height: 19px;
}

.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.elements__like_active {
  background-color: #000;
}