.elements__group {
  padding: 27px 19px 24px 22px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  align-items: center;
  box-sizing: border-box;
}